@import url("./cabecalho.css");
@import url("./conteudo.css");
@import url("./rodape.css");

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
  }

  html{
    font-size: 62,8%;
  }

  .tit-sec{
    text-align: center;
    margin: 2vh 0;
    font-size: 3rem;
  }